<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Genres</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <script type="text/javascript">

  </script>
</head>

<body class="bg-light">
  <div class="text-center mt-5 mb-5 container">
    <div>
      <img class="p-4" src="/images/genre.ico" alt="title" width="150" height="150" />
    </div>
    <h2 class=display-3>Genres</h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <a href="/artist/letter/A">
          <a href="http://localhost:3000/genre/<%= genrename %>/<%=parseInt(pagenumber,10) - 1%>">
            <li class="list-group-item">Previous page</li>
          </a>
        </a>
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-2">
        <a href="http://localhost:3000/genre/<%= genrename %>/<%=parseInt(pagenumber,10) + 1%>">
          <li class="list-group-item">Next page</li>
        </a>
      </div>
    </div>
  </div>

  <br />
  <br />

  <div class="mb-5 text-center">
    <h1>Results:</h1>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">title</th>
          <th scope="col">year</th>
          <th scope="col">artist</th>
          <th scope="col">genre</th>
          <th scope="col">lyrics</th>
      </thead>
      <tbody>
        <% genres.forEach(function(song) { %>
        <tr>
          <td><%= song.id %></td>
          <td><%= song.title %></td>
          <td><%= song.year %></td>
          <td><%= song.artist %></td>
          <td><%= song.genre %></td>
          <td><%= song.lyrics %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <br />
    <br />
    <br />

    <div class="">
      <button class=" btn btn-secondary float-left p-3 ml-5" type="button" name="button">Previous page</button>
      <button class="btn btn-secondary float-right p-3 mr-5" type="button" name="button">Next page</button>
    </div>

  </div>

  <br />
  <br />
  <br />

  <footer class="bg-dark" style="height:10em;">
    <p class="text-light text-center">Copyright © 2019 - Dion Olympia & Henry Nguyen - All Rights Reserved</p>
    <br />
    <div class="text-center">
      <a class="text-white" href="/home">Go back to homepage</a>
    </div>
  </footer>



</body>

</html>